* {
    font-family: 'Lora', serif;

}

body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 56px;
    color: #E5E5E5;
    text-shadow: 2px 2px 6px #B0B0B0;
    margin-top: 40px;
}

p {
    font-size: 20px;
    color: #B0B0B0;
    margin: 20px auto;
    max-width: 600px;
}

footer {
    border-top: 1px solid #2C2C2C;
    padding: 20px;
    font-size: 14px;
    color: #B0B0B0;
}

#lh1 li {
    color: #D4AF37;
    font-weight: bold;
}

#lh2 li {
    color: #D4AF37;
    font-weight: bold;
    text-align: left;
}

#wb {
    display: inline-block;
    width: 48px;
    height: 48px;
}

.container {
    text-align: left;
    padding-left: 20px;
}

#ALERT{
    color: #E5E5E5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}